body{
    font-family: cursive;
    font-size: larger;

    button {
        background-color: transparent;
        border-radius: 5px;
        border: 1px solid black;
        padding: 10px;
        
        font-family: inherit;
        font-size: inherit;
    }

    .box {
        margin: 5px;
        padding: 5px;
        border: 2px solid black;
        border-radius: 10px;
        text-align: center;
    }
    
    .grid {
        display: grid;
        grid-auto-flow: column;
        gap: 10px
    }
    
    .shy {
        opacity: 0.4;
    }
}